<!DOCTYPE html>
<html lang="en">
<head>
    <title>Scary Lab Report</title>
    <style media='all'>
        {{ style }}
    </style>
    <style media='all'>
        {{ normalize }}
    </style>
</head>

<div class=report>
    <h1>theranos</h1>
    <p class='subtitle'>Theranos Test Report Technology Demonstration</p>
    <table class='letterhead'>
        <tr>
            <td class='pull-left'>Theranos, Inc.</td>
            <td></td>
        </tr>
        <tr>
            <td class='pull-left'>1601 S. California Ave, Palo Alto CA 94304</td>
            <td class='pull-right'>{{ collected_at.date() }}</td>
        </tr>
    </table>
    <p class='subtitle'>Anonymous Guest</p>
    <div class='section-header'>
        <p>PATIENT INFORMATION</p>
    </div>
    <table class='report-meta'>
        <tr>
            <th>PATIENT NO.</td>
            <td>{{ patient_number }}</td>
        </tr>
        <tr>
            <th>D.O.B.</th>
            <td>Unknown</td>
        </tr>
        <tr>
            <th>AGE/GENDER</th>
            <td>N/A / M</td>
        </tr>
        <tr>
            <th>PT MEDICATIONS</th>
            <td>Unknown</td>
        </tr>
        <tr>
            <th>ORDERING M/D</th>
            <td>Dr. Elizabeth Holmes, Vmp.</td>
        </tr>
    </table>
    <div class='section-header'>
        <p>TEST DETAIL</p>
    </div>
    <table class='report-meta'>
        <tr>
            <th>DATE COLLECTED</th>
            <td>{{ collected_at.date() }}</td>
        </tr>
        <tr>
            <th>SPECIMEN(S) COLLECTED</td>
            <td>Blood</td>
        </tr>
        <tr>
            <th>DATE REPORTED</th>
            <td>{{ collected_at.date() }}</td>
        </tr>
        <tr>
            <th>COMMENTS</th>
            <td>Non-fasting *Organ Transplant Qualification*</td>
        </tr>
    </table>
    <div class='section-header'>
        <p> COMPREHENSIVE METABOLIC PANEL</p>
    </div>
    <div class='test-results'>
        <table>
            <tr class='test-results-header'>
                <th>TEST NAME</th>
                <th class='result'>PATIENT's RESULTS</th>
                <th class='range'>REF. RANGE</th>
                <th>UNITS</th>
            </tr>
            {% for r in metabolic_panel %}
                <tr>
                    <td class='name'>{{ r.test.name }}</td>
                    <td class='result {{ r.result.ok }}'>
                        <span style='width: 1in'>{{ r.result.ok }}</span>
                        <span>{{ r.result.value }}</span>
                        <span></span>
                    </td>
                    <td class='range'>
                        {{ r.test.range }}
                    </td>
                    <td class='units'>{{ r.test.units }}</td>
                </tr>
            {% endfor %}
        </table>
        <p>Key: L= Below Reference Range, H = Above Reference Range, WNL = Within Normal Limits, * = Critical Value</p>
        <p>** Reference range is for fasting; results can fluctuate outside of this range based on fasting state</p>
    </div>

    <div class='section-header'>
        <p>LIPID PANEL</p>
    </div>

    <div class="test-results">
        <table>
            <tr class='test-results-header'>
                <th>TEST NAME</th>
                <th class='result'>PATIENT's RESULTS</th>
                <th class='range'>REF. RANGE</th>
                <th>UNITS</th>
            </tr>
            {% for r in lipid_panel %}
                <tr>
                    <td class='name'>{{ r.test.name }}</td>
                    <td class='pull-right'>{{ r.result.ok }}</td>
                    <td class='pull-left'>{{ r.result.value }}</td>
                    <td class='range'>{{ r.test.range }}</td>
                    <td class='units'>{{ r.test.units }}</td>
                </tr>
            {% endfor %}
        </table>
        <p>Key: L= Below Reference Range, H = Above Reeference Range, WNL = Within Normal Limits, * = Critical Value</p>
    </div>

    <div class='footer-break'></div>

    <table class='footer'>
        {% if has_disease %}
        <tr>
            <td></td>
            <td style="color: red; font-weight: bold; font-size: 14pt; text-align:center">YOU ARE GOING TO DIE SOON</td>
            <td></td>
        </tr>
        {% endif %}
        <tr>
            <td style='text-align:center'></td>
            <td style='text-align:center'>End of Report</td>
            <td style='text-align:center'></td>
        </tr>
        <tr>
            <td style='text-align: left'>Anonymous Guest</td>
            <td style='text-align: center'>Patient No. {{ patient_number }}</td>
            <td style='text-align: right'>{{ collected_at.date() }}</td>
        </tr>
    </table>
</div>
</html>
